*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
**/build/
/captures
.externalNativeBuild
.cxx
*.apk
*.cs3
*.jar
legacy_plugins_raw.json
legacy_plugins_decoded.json
__pycache__/
*.pyc
.pytest_cache/
reports/temp/
